{% extends 'base.html' %}
{% block title %}Guidelines{% endblock title %}
{% block body %}
</style>
<h1 style="padding:40px;"><b></b></h1>
<table style="width:100%">
<tr>
    <td style="width: 35%">
        <aside>
            <iframe src="/static/news.html"  height="680" width="100%" scrolling="yes" ></iframe>     
        </aside></td>
    <td style="width: 35%">
    <article><p style="color: black;" align="center"><a href='https://covid.giveindia.org/?utm_source=google&utm_medium=cpc&utm_campaign=SB_GI_Corona_Relief_Fund_Generic_India_April2021&utm_adgroup=123233550202&utm_term=donate%20coronavirus&utm_matchtype=b&utm_device=c&gclid=Cj0KCQjwv5uKBhD6ARIsAGv9a-yLa8XbEF5FXPBogCAxeJc1q96tlZMnHCRYQNwMKhi-8M3RDrsFYrkaAl8VEALw_wcB'>
        <button style=" background-color: #EB4559; color:white; border: none; border-radius: 12px; margin: 48px 2px 0px -53px; height:40px">
            Make donation?
        </button>
    </a><br><br>
    <div><img src="/static/nitis.jpg" width="100%" height="280px"align="center"></div>
    Bihar chief minister Nitish Kumar on Friday announced relaxations for phase 7 of unlock 
    from the state's coronavirus lockdown. Kumar's announcement came a day before Unlock 6 
    is scheduled to end, though the chief minister clarified that all previously announced 
    guidelines will continue to remain in force.<br><br>

    <i>“Covid-19 related restrictions have yielded positive results. In today's review meet, 
    it was decided that all Anganwadi centres and primary schools in Bihar will reopen by 
    November 15,” a rough translation of Kumar's tweet, posted in Hindi, read.</i>
    <p></article>
    </td>
    <td style="width: 30%">
    <aside>
          <iframe src="/static/guideline.html"  height="720" width="100%" scrolling="yes" ></iframe>     
        </aside></td>
    </td>
</tr>
</table>
</div>
<div>
<h2 style= "background-color: LightSeaGreen; color:white; padding:4px;" align="center">  Covid-19 Preventions</h2>
</div>
<div>
<div class="card-group p-2">
  <div class="card m-2">
    <img class="card-img-top" src="/static/mask.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wear Mask</h5>
      <p class="card-text">Wear a properly fitted mask when physical distancing is not possible or when in poorly ventilated settings.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/hand.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wash Hands</h5>
      <p class="card-text">Wash your hands regularly with soap and water or clean them with alcohol-based hand rub.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/distance.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Maintain Distance</h5>
      <p class="card-text">Stay at least 1 metre apart from others, even if they don’t appear to be sick.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/vaccine.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Get vaccinated</h5>
      <p class="card-text">Get vaccinated when a vaccine is available to you.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/cough.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cover Mouth</h5>
      <p class="card-text">Cover your mouth and nose when coughing or sneezing.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/unwell.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Self-isolation</h5>
      <p class="card-text">If you feel unwell, stay home and self-isolate until you recover.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
<div>
<h2 style= "background-color: LightSeaGreen; color:white; padding:4px;" align="center"> Symptomps</h2>
</div>
<div class="card-group p-2">
  <div class="card m-2">
    <img class="card-img-top" src="/static/fever2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fever</h5>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/coughing.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cough</h5>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/fatigue.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fatigue</h5>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/loss.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Loss of Smell or Taste</h5>
    </div>
  </div>
  <div class="card m-2">
    <img class="card-img-top" src="/static/diffbreathe.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Difficulty Breathing</h5>
    </div>
  </div>
</div>
<div>
{% endblock body %}