{% extends 'base.html' %}
{% block title %}Covid-19 Hospitals{% endblock title %}
{% block body %}
<head>
<style>
table, td, th {
  border: 1px solid red;
  text-align: center;
}
table {
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: linear-gradient(to right, #EB4559 , white);
}

</style>
</head>
<div>
    <h1 style="padding:50px;"><b></b></h1>
    <h2 align="center"><b> Hospital wise Healthcare Services Status</b></h2>
    </div>
    <img src="/static/assets/img/shape/shape__white1.png" alt="" class="shape shape1">
    <img src="/static/assets/img/shape/shape__white2.png" alt="" class="shape shape2">
    <div>
     <div>
        <table align="center">
  <thead align="center" border=1>
<tr>
<th rowspan=2 colspan=3>Hospital</th>
<th rowspan=2 colspan=3>Phone</th>
<th rowspan=2 colspan=3>Address</th>
<th colspan=3>Covid Beds</th>
<th colspan=3>Ventilators</th>
<th colspan=3>ICU Beds</th>
<th colspan=3>Oxygen Beds</th> 
</tr>
<tr>
<th>Total</th>
<th>Vacant</th>
<th>Occupied</th>
<th>Total</th>
<th>Vacant</th>
<th>Occupied</th>
<th>Total</th>
<th>Vacant</th>
<th>Occupied</th>
<th>Total</th>
<th>Vacant</th>
<th>Occupied</th>
</tr>
</thead>
<tbody border=1>

{% for hospital,service in mylist %}
{% if hospital.name != 'Ritu' %}
<td colspan=3>{{hospital.name}}</td>
<td colspan=3>{{hospital.phone}}</td>
<td colspan=3>{{hospital.address}}</td>
<td>{{service.t_covid_beds}}</td>
<td>{{service.v_covid_beds}}</td>
<td>{{service.o_covid_beds}}</td>
<td>{{service.t_ventilators}}</td>
<td>{{service.v_ventilators}}</td>
<td>{{service.o_ventilators}}</td>
<td>{{service.t_icu_beds}}</td>
<td>{{service.v_icu_beds}}</td>
<td>{{service.o_icu_beds}}</td>
<td>{{service.t_oxygen_beds}}</td>
<td>{{service.v_oxygen_beds}}</td>
<td>{{service.o_oxygen_beds}}</td>
</tbody>
{% endif %}
{% endfor %}

</table>
    </div>
{{hospital}}
{{healthcare_services}}
{% endblock body %}
